
@{
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/_blanco.cshtml";
}



<div id="encabezado">
    <h2>Lottingo</h2>
    <p id="serial">Serial: B5804589-BC2F-4A31-A402-A9AC0B9ABF09</p>
    <p id="agente">vendedor: 3***4025</p>
    <p id="fecha">Fecha: 16/05/2019 16:00:05</p>
    <p id="loteria">Bog-2498</p>
    <p id="sorteo">S: 2498</p>
    <p id="fecha_sort">Fecha sort: 16/05/2019 19:00:00</p>
    <p id="check">23101A3F59ED422C8B90A75BD5704F55</p>
    <p id="phone">******3212</p>
</div>
<div id="juego">
    <table>
        <thead>
            <tr>
                <th>NUMERO</th>
                <th>DIRECTO</th>
                <th>COMBINADO</th>
                <th>PATA</th>
                <th>UNA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0716</td>
                <td style="text-align:right">$1000</td>
                <td style="text-align:right">$1000</td>
                <td style="text-align:right">$100</td>
                <td style="text-align:right">$100</td>
            </tr>
            <tr>
                <td>4024</td>
                <td style="text-align:right">$1000</td>
                <td style="text-align:right">$1000</td>
                <td style="text-align:right">$100</td>
                <td style="text-align:right">$100</td>
            </tr>
        </tbody>
        <tfoot>
            <tr id="total">
                <td style="font-weight:bold">Totales</td>
                <td style="text-align:right;font-weight:bold">$2000</td>
                <td style="text-align:right;font-weight:bold">$2000</td>
                <td style="text-align:right;font-weight:bold">$200</td>
                <td style="text-align:right;font-weight:bold">$200</td>
            </tr>
        </tfoot>
    </table>
</div>
<hr style="border:1px dotted blue;">
<div id="total">
    <div class="col-6">
        <h3 style="font-weight:bold;display:inline">Apuesta: $4400</h3>
    </div>
</div>
<br />
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button id="imprimir" class="btn btn-lg btn-success" onclick="window.print()">Imprimir</button>
            </div>
            <div class="col-6">
                @Html.ActionLink("Volver","Juego", "Home", new { @class="btn btn-lg btn-danger"})
            </div>
        </div>
    </div>

</div>


@*<script>
    function print () {
        $("#imprimir").hide();
        //window.location.replace('@Url.Action("Juego","Home")');
        window.print();
        window.close();
    }
</script>*@