<div class="jumbotron">
    <h1>Últimos sorteos</h1>
    <p class="lead">Aca va una tabla</p>
    <p><a href="@Url.Action("index","Sorteos")" class="btn btn-success btn-sm">Ver Todos los sorteos &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Informacion de Juegos</h2>
       Tabla de cual es la muela por loteria
    </div>
    <div class="col-md-4">
        <h2>Informacion de agencia</h2>
        Datos de la agencia
    </div>
    <div class="col-md-4">
        <h2>Vendedores por agencia</h2>
        Datos de ventas
    </div>
</div>
